#titulo {
    color: red;
    font-size: 80px;  
    background-color:pink  
}

.texto {
    color: green;
    font-size: 40;
}

ol li {
    color: pink;
    font-size: 30px;
    font-weight: bold;    
}