
/* arrumar o tamanho da tela para celular 576px com @media */

/* organizar código */




* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* #########################################  PLANO DE FUNDO  ######################################### */
body {
    background-image: url('Imagens_outras/fundo05.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

/* #########################################  CAMPO DE BUSCA  ######################################### */
.btn-buscar {
    float: right; /* Alinha o botão à direita */
    margin-top: -31px; /* Adiciona um espaçamento superior */
    margin-right: 20px; /* Adiciona um espaçamento direito */
}
/* Ajuste para telas menores de 320px */
@media (max-width: 320px) {
    .btn-buscar {
        float: right; /* Alinha o botão ao centro */
        margin-top: -33px; /* Adiciona um espaçamento superior */
        margin-right: 20px; /* Adiciona um espaçamento direito */
        text-align: right; /* Centraliza o conteúdo */
    }
    
    .btn-buscar input[type="search"] {
        width: 40%; /* Ajusta a largura do campo de busca */
        font-size: 14px; /* Ajusta o tamanho da fonte do campo de busca */
    }
    
    .btn-buscar label {
        font-size: 14px; /* Ajusta o tamanho da fonte do rótulo */
    }
}
@media (min-width: 321px) {
    .btn-buscar {
        float: right; /* Alinha o botão ao centro */
        margin-top: -33px; /* Adiciona um espaçamento superior */
        margin-right: 20px; /* Adiciona um espaçamento direito */
        text-align: right; /* Centraliza o conteúdo */
    }
    
    .btn-buscar input[type="search"] {
        width: 40%; /* Ajusta a largura do campo de busca */
        font-size: 14px; /* Ajusta o tamanho da fonte do campo de busca */
    }
    
    .btn-buscar label {
        font-size: 14px; /* Ajusta o tamanho da fonte do rótulo */
    }
}
@media (min-width: 851px) and (max-width: 1023px){
    .btn-buscar {
        float: none;  /*Alinha o botão ao centro */
        margin-top: 0px;  /*Adiciona um espaçamento superior */
        margin-right: 0px;  /*Adiciona um espaçamento direito */
        margin-bottom: 10px;
        text-align: center;  /*Centraliza o conteúdo */
    }
    
    .btn-buscar input[type="search"] {
        width: 10%;  /*Ajusta a largura do campo de busca */
        font-size: 14px;  /*Ajusta o tamanho da fonte do campo de busca */
    }
    
    .btn-buscar label {
        font-size: 14px; /* Ajusta o tamanho da fonte do rótulo */
    }
}
@media (min-width: 1024px) and (max-width: 1590px){
    .btn-buscar {
        float: none;  /*Alinha o botão ao centro */
        margin-top: 0px;  /*Adiciona um espaçamento superior */
        margin-right: 0px;  /*Adiciona um espaçamento direito */
        margin-bottom: 10px;
        text-align: center;  /*Centraliza o conteúdo */
    }
    
    .btn-buscar input[type="search"] {
        width: 10%;  /*Ajusta a largura do campo de busca */
        font-size: 14px;  /*Ajusta o tamanho da fonte do campo de busca */
    }
    
    .btn-buscar label {
        font-size: 14px; /* Ajusta o tamanho da fonte do rótulo */
    }
}



/* #########################################  MENU  ######################################### */
#menu-h {
    background-color: rgb(0, 0, 0);
    overflow: hidden; /*overflow: auto;*/
}
#menu-h ul {
    max-width: 1000px;
    list-style: none;
    padding: 0;
    /*white-space: nowrap; /* Impede a quebra de linha */
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#menu-h ul li {
    display: inline-block;
}
#menu-h ul li a {
    color: #FFF;
    font-family: 'Vollkorn';
    padding: 12px;
    display: block;
    text-decoration: none;
    transition: background .4s;
}
#menu-h ul li a:hover {
    background-color: rgb(50, 50, 50); /* 0 0 0 */
}
/* Esconder o botão do menu por padrão */
.menu-toggle {
    display: none;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}
@media (max-width: 320px) {
    /* Exibir o botão do menu */
    .menu-toggle {
        display: block;
        margin-top: -5px; /* Adiciona um espaçamento superior */
        margin-left: 20px; /* Adiciona um espaçamento direito */
    }
    /* Esconder o menu inicialmente */
    #menu-h ul {
        display: none;
        position: fixed; /* Para manter o menu fixo na tela */
        top: 0; /* Alinha o menu no topo */
        left: 0; /* Alinha o menu à esquerda */
        height: 42%; /* Define a altura do menu para preencher toda a tela */
        width: 250px; /* Largura da caixa do menu */
        background-color: #000000; /* Cor de fundo do menu */
        padding: 20px; /* Espaçamento interno do menu */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
        z-index: 999; /* Para garantir que o menu esteja acima de outros elementos */
    }
    /* Exibir o menu quando o botão é clicado */
    #menu-h ul.show {
        display: block; /* Altera para exibir o menu */
    }
    #menu-h ul li {
        display: block;
        text-align: center;
    }
    #menu-h ul li a {
        display: block; /* Ajusta para ocupar toda a largura da caixa do menu */
        padding: 10px;
        border-bottom: 1px solid #444;
    }
}

@media (max-width: 375px) {
    /* Exibir o botão do menu */
    .menu-toggle {
        display: block;
        margin-top: -5px; /* Adiciona um espaçamento superior */
        margin-left: 20px; /* Adiciona um espaçamento direito */
    }
    /* Esconder o menu inicialmente */
    #menu-h ul {
        display: none;
        position: fixed; /* Para manter o menu fixo na tela */
        top: 0; /* Alinha o menu no topo */
        left: 0; /* Alinha o menu à esquerda */
        height: 42%; /* Define a altura do menu para preencher toda a tela */
        width: 250px; /* Largura da caixa do menu */
        background-color: #000000; /* Cor de fundo do menu */
        padding: 20px; /* Espaçamento interno do menu */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
        z-index: 999; /* Para garantir que o menu esteja acima de outros elementos */
    }
    /* Exibir o menu quando o botão é clicado */
    #menu-h ul.show {
        display: block; /* Altera para exibir o menu */
    }
    #menu-h ul li {
        display: block;
        text-align: center;
    }
    #menu-h ul li a {
        display: block; /* Ajusta para ocupar toda a largura da caixa do menu */
        padding: 10px;
        border-bottom: 1px solid #444;
    }
}

@media (max-width: 425px) {
    /* Exibir o botão do menu */
    .menu-toggle {
        display: block;
        margin-top: -5px; /* Adiciona um espaçamento superior */
        margin-left: 20px; /* Adiciona um espaçamento direito */
    }
    /* Esconder o menu inicialmente */
    #menu-h ul {
        display: none;
        position: fixed; /* Para manter o menu fixo na tela */
        top: 0; /* Alinha o menu no topo */
        left: 0; /* Alinha o menu à esquerda */
        height: 42%; /* Define a altura do menu para preencher toda a tela */
        width: 250px; /* Largura da caixa do menu */
        background-color: #000000; /* Cor de fundo do menu */
        padding: 20px; /* Espaçamento interno do menu */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
        z-index: 999; /* Para garantir que o menu esteja acima de outros elementos */
    }
    /* Exibir o menu quando o botão é clicado */
    #menu-h ul.show {
        display: block; /* Altera para exibir o menu */
    }
    #menu-h ul li {
        display: block;
        text-align: center;
    }
    #menu-h ul li a {
        display: block; /* Ajusta para ocupar toda a largura da caixa do menu */
        padding: 10px;
        border-bottom: 1px solid #444;
    }
}
@media (max-width: 849px) {
    /* Exibir o botão do menu */
    .menu-toggle {
        display: block;
        margin-top: -5px; /* Adiciona um espaçamento superior */
        margin-left: 20px; /* Adiciona um espaçamento direito */
    }
    /* Esconder o menu inicialmente */
    #menu-h ul {
        display: none;
        position: fixed; /* Para manter o menu fixo na tela */
        top: 0; /* Alinha o menu no topo */
        left: 0; /* Alinha o menu à esquerda */
        height: 42%; /* Define a altura do menu para preencher toda a tela */
        width: 250px; /* Largura da caixa do menu */
        background-color: #000000; /* Cor de fundo do menu */
        padding: 20px; /* Espaçamento interno do menu */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
        z-index: 999; /* Para garantir que o menu esteja acima de outros elementos */
    }
    /* Exibir o menu quando o botão é clicado */
    #menu-h ul.show {
        display: block; /* Altera para exibir o menu */
    }
    #menu-h ul li {
        display: block;
        text-align: center;
    }
    #menu-h ul li a {
        display: block; /* Ajusta para ocupar toda a largura da caixa do menu */
        padding: 10px;
        border-bottom: 1px solid #444;
    }
}



/* #########################################  RODAPÉ  ######################################### */
.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    padding: 25px;
    font-size: 18px;
    text-align: center;
    z-index: 9999;
    font-family: 'Sedan SC';
}
.footer p{
    margin-top: 20px;
    color: white;
    text-align: center;
    font-family: 'Sedan SC';
}
/* Estilo para telas menores */
@media (max-width: 320px) {
    .footer {
        position: static; /* Remove a posição absoluta */
        margin-top: 20px; /* Adiciona um espaçamento superior */
    }
}






/* #########################################  BANNER  ######################################### */
.banner {
    max-width: 100%; /* Define a largura máxima como 100% da largura do cabeçalho */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Para garantir que a imagem seja exibida como bloco */
}
@media (max-width: 375px) {
    .banner{
        max-width: 100%;
        height: auto;
        display: block;
    
    }

}





/* #########################################  TEXTO -- PAGINA HISTORIA --  ######################################### */
.centralizado {
    width: 80%; /* Defina a largura desejada */
    margin: 0 auto; /* Margens automáticas para centralizar */
    font-size: 25px; /* Tamanho da fonte */
    /*border: 3px solid black;  Borda sólida com 10px de largura e cor preta */
    /*padding: 20px; /* Espaçamento interno */
    text-align: justify; /* Centraliza o texto horizontalmente */
}
@media (max-width: 375px) {
    .centralizado {
        position: static; /* Remove a posição absoluta */
        margin-top: 20px; /* Adiciona um espaçamento superior */
        font-size: 18px;
    }
}


/* #########################################  IMAGENS RELIQUIAS -- PAGINA HISTORIA -- ######################################### */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza as imagens no contêiner */
    /*gap: 3px; /* Espaçamento de 20px entre as imagens */
    margin-top: 0px; /* Espaçamento superior para afastar do conteúdo anterior */
}
.image-item {
    width: 260px;
    text-align: center;
    border-radius: 15px;
    margin: 45px;
    margin-top: 0px;
   /* overflow: hidden; /* Adicionado para evitar overflow ao aplicar zoom */
}
.image-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}
.image-item img:hover {
    transform: scale(1.1); /* Aplica o zoom */
}
.image-item h2 {
    margin: 10px 0 5px;
    font-size: 20px;
}
.image-item p {
    margin: 0;
    font-size: 17px;
    line-height: 20px;
}
.image-item .btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px; /* Espaçamento acima do botão */
    position: relative;
    top: 20px; /* Ajuste a posição vertical do botão */
}
.image-item .btn:hover {
    background-color: #333;
}

/* Responsivo para telas menores */
@media (max-width: 375px) {
    .image-item {
        width: 150px; /* Diminui o tamanho das imagens em telas menores */
    }

    .image-container {
        gap: 5px; /* Diminui o espaçamento entre as imagens em telas menores */
    }
}

/* #########################################  IMAGENS BOSS -- PAGINA BOSS --  ######################################### */
.image-container-boss {
    display: flex;
    justify-content: center; /* Centraliza as imagens no contêiner */
    gap: 5px; /* Espaçamento de 20px entre as imagens */
    margin-top: 20px; /* Espaçamento superior para afastar do conteúdo anterior */
}
.image-item-boss {
    width: 350px;
    text-align: center;
    border-radius: 15px;
    margin-left: 50px; /*  margem à esquerda */
    margin-right: 50px; /* margem à direita */
   /* overflow: hidden; /*  evita overflow ao aplicar zoom */
}
.image-item-boss img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease; /* transição suave */
}
.image-item-boss img:hover {
    transform: scale(1.1); /* zoom */
}
.image-item-boss h2 {
    margin: 10px 0 5px;
    font-size: 30px;
}
.image-item-boss p {
    margin: 0;
    font-size: 17px;
    line-height: 20px;
}
.image-item-boss .btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px; /* Espaçamento acima do botão */
    position: relative;
    top: 5px; /* Ajuste a posição vertical do botão */
}
.image-item-boss .btn:hover {
    background-color: #333;
}

@media (min-width: 320px) and (max-width: 374px) {
    .image-container-boss {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    .image-item-boss {
        flex-basis: calc(50% - 5px); /* Define a largura para ocupar metade da largura do contêiner, subtraindo o espaçamento */
        margin-bottom: 10px;
    }
    .image-item-boss img {
        width: 100%;
    }
    .image-item-boss h2 {
        font-size: 18px;
    }
    .image-item-boss p {
        font-size: 15px;
        line-height: 18px;
    }
    .image-item-boss .btn {
        font-size: 14px;
        padding: 8px 16px;
        top: 1px;
    }
    h1 {
        font-size: 24px;
        top: 5px;
    }
}
@media (min-width: 375px) and (max-width: 424px) {
    .image-container-boss {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    .image-item-boss {
        flex-basis: calc(50% - 5px); /* Define a largura para ocupar metade da largura do contêiner, subtraindo o espaçamento */
        margin-bottom: 10px;
    }
    .image-item-boss img {
        width: 100%;
    }
    .image-item-boss h2 {
        font-size: 18px;
    }
    .image-item-boss p {
        font-size: 15px;
        line-height: 18px;
    }
    .image-item-boss .btn {
        font-size: 14px;
        padding: 8px 16px;
        top: 1px;
    }
    h1 {
        font-size: 24px;
        top: 5px;
    }
}
@media (min-width: 425px) and (max-width: 767px) {
    .image-container-boss {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    .image-item-boss {
        flex-basis: calc(50% - 5px); /* Define a largura para ocupar metade da largura do contêiner, subtraindo o espaçamento */
        margin-bottom: 10px;
    }
    .image-item-boss img {
        width: 100%;
    }
    .image-item-boss h2 {
        font-size: 18px;
    }
    .image-item-boss p {
        font-size: 15px;
        line-height: 18px;
    }
    .image-item-boss .btn {
        font-size: 14px;
        padding: 8px 16px;
        top: 1px;
    }
    h1 {
        font-size: 24px;
        top: 5px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .image-container-boss {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    .image-item-boss {
        flex-basis: calc(50% - 5px); /* Define a largura para ocupar metade da largura do contêiner, subtraindo o espaçamento */
        margin-bottom: 10px;
    }
    .image-item-boss img {
        width: 100%;
    }
    .image-item-boss h2 {
        font-size: 18px;
    }
    .image-item-boss p {
        font-size: 15px;
        line-height: 18px;
    }
    .image-item-boss .btn {
        font-size: 14px;
        padding: 8px 16px;
        top: 1px;
    }
    h1 {
        font-size: 24px;
        top: 5px;
    }
}

/* #########################################  IMAGENS BOSS ZOOM -- PAGINA PERSONAGENS BOSS -- ######################################### */
.zoom-container {
    border-radius: 15px;
}
.zoom-image {
    border-radius: 15px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}
.zoom-container:hover .zoom-image {
    transform: scale(1.15); /* Aplica um zoom ligeiramente menor */
}

.boss-description p{
    font-size: 20px;
    text-align: justify;
    margin-right: 40px; /* Margem à direita */
    margin: 40px;
}
@media (max-width: 320px) {
    /* Ajustando o tamanho das imagens */
    .zoom-container {
        width: 75%; /* Ajusta a largura da imagem */
        margin-right: 5%; /* Espaçamento à direita */
        margin-left: 5%; /* Espaçamento à esquerda */
        margin-bottom: 10px;
        display: block;
        float: none;
    }
    .zoom-image {
        width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
        border-radius: 15px; /* Adiciona bordas arredondadas */
    }
    .boss-description {
        clear: both;
        text-align: center;
    }
    /* Ajustando o tamanho do texto */
    .boss-description h1 {
        font-size: 18px; /* Tamanho da fonte */
        text-align: center; /* Centraliza o texto */
    }
    .boss-description p {
        font-size: 14px; /* Tamanho da fonte */
        margin-left: 10px; /* Margem à esquerda */
        margin-right: 10px; /* Margem à direita */
        text-align: justify;
    }
}

@media (max-width: 375px) {
    /* Ajustando o tamanho das imagens */
    .zoom-container {
        width: 75%; /* Ajusta a largura da imagem */
        margin-right: 5%; /* Espaçamento à direita */
        margin-left: 5%; /* Espaçamento à esquerda */
        margin-bottom: 10px;
        display: block;
        float: none;
    }
    .zoom-image {
        width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
        border-radius: 15px; /* Adiciona bordas arredondadas */
    }
    .boss-description {
        clear: both;
        text-align: center;
    }
    /* Ajustando o tamanho do texto */
    .boss-description h1 {
        font-size: 18px; /* Tamanho da fonte */
        text-align: center; /* Centraliza o texto */
    }
    .boss-description p {
        font-size: 14px; /* Tamanho da fonte */
        margin-left: 10px; /* Margem à esquerda */
        margin-right: 10px; /* Margem à direita */
        text-align: justify;
    }
}
@media (max-width: 425px) {
    /* Ajustando o tamanho das imagens */
    .zoom-container {
        width: 75%; /* Ajusta a largura da imagem */
        margin-right: 5%; /* Espaçamento à direita */
        margin-left: 5%; /* Espaçamento à esquerda */
        margin-bottom: 10px;
        display: block;
        float: none;
    }
    .zoom-image {
        width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
        border-radius: 15px; /* Adiciona bordas arredondadas */
    }
    .boss-description {
        clear: both;
        text-align: center;
    }
    /* Ajustando o tamanho do texto */
    .boss-description h1 {
        font-size: 18px; /* Tamanho da fonte */
        text-align: center; /* Centraliza o texto */
    }
    .boss-description p {
        font-size: 14px; /* Tamanho da fonte */
        margin-left: 10px; /* Margem à esquerda */
        margin-right: 10px; /* Margem à direita */
        text-align: justify;
    }
}
@media (max-width: 768px) {
    /* Ajustando o tamanho das imagens */
    .zoom-container {
        width: 75%; /* Ajusta a largura da imagem */
        margin-right: 5%; /* Espaçamento à direita */
        margin-left: 40px; /* Espaçamento à esquerda */
        margin-bottom: 10px;
        display: block;
        float: right;
    }
    .zoom-image {
        width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
        border-radius: 15px; /* Adiciona bordas arredondadas */
    }
    .boss-description {
        clear: both;
        text-align: center;
    }
    /* Ajustando o tamanho do texto */
    .boss-description h1 {
        font-size: 18px; /* Tamanho da fonte */
        text-align: center; /* Centraliza o texto */
    }
    .boss-description p {
        font-size: 14px; /* Tamanho da fonte */
        margin-left: 10px; /* Margem à esquerda */
        margin-right: 10px; /* Margem à direita */
        text-align: justify;
    }
}





/* #########################################  IMAGENS - PAGINA REINOS  ######################################### */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    justify-content: center;
}
.grid-container img {
    width: 100%;
    height: auto;
}
.grid-container a {
    text-align: center;
    text-decoration: none;
    color: black;
}
.zoom-image {
    border-radius: 15px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}
.zoom-container:hover .zoom-image {
    transform: scale(1.07); /* Aplica um zoom ligeiramente menor */
}

@media (max-width: 375px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .grid-container img {
        max-width: 90%;
        margin: 0 auto;
    }

}









/* Estilos para os formulários */
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
}
.form-container button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.form-container button:hover {
    opacity: 0.8;
}





  /* Estilos para os botões */
  .btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
}
.btn:hover {
    background-color: #f0f0f0;
}
/* Estilos para posicionar os botões */
.btn-login {
    right: 190px;
    top: 250px;
}
.btn-cadastrar {
    right: 50px;
    top: 250px;
}








/* #########################################  8 QUADRADOS CARACTERISTICAS PERSONAGENS  ######################################### */
.characteristics-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 0px auto;
    max-width: 90%;
}
.characteristic {
    text-align: center;
}
.characteristic-box {
    width: 300px;
    height: 410px;
    background-image: url('Imagens_outras/fundo07.JPG'); /* Imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem */
    background-position: center; /* Centraliza a imagem */
    border: 2px solid #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.characteristic-box h2 {
    font-family: 'Sedan SC', serif;
    font-size: 40px;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.characteristic-box p {
    font-family: 'Sedan SC';
    font-size: 16px;
    color: #000000;
    margin: 0;
    text-align: left;
    width: 100%;
}
/* para telas menores */
@media (max-width: 375px) {
    .characteristics-grid {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas */
        gap: 10px; /* Reduz o espaçamento */
    }
    
    .characteristic-box {
        width: 100%; /* Ajusta a largura para ocupar toda a coluna */
        padding: 10px; /* Reduz o padding */
    }
    
    .characteristic-box h2 {
        font-size: 24px; /* Reduz o tamanho da fonte do título */
    }
    
    .characteristic-box p {
        font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
    }
}
/* #########################################  3 QUADRADOS CARACTERISTICAS BOSS  ######################################### */
.characteristics-grid-boss {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 0px auto;
    max-width: 90%;
}
.characteristic-boss {
    text-align: center;
}
.characteristic-box-boss {
    width: 250px;
    height: 300px;
    background-image: url('Imagens_outras/fundo08.JPG'); /* Imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem */
    background-position: center; /* Centraliza a imagem */
    border: 2px solid #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.characteristic-box-boss h2 {
    font-family: 'Sedan SC', serif;
    font-size: 40px;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.characteristic-box-boss p {
    font-family: 'Sedan SC';
    font-size: 16px;
    color: #000000;
    margin: 0;
    text-align: left;
    width: 100%;
}
/* para telas menores */
@media (min-width: 320px) and (max-width: 374px) {
    .characteristics-grid-boss {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas */
        gap: 10px; /* Reduz o espaçamento */
    }
    
    .characteristic-box-boss {
        width: 140px; /* Ajusta a largura para ocupar toda a coluna */
        padding: 10px; /* Reduz o padding */
    }
    
    .characteristic-box-boss h2 {
        font-size: 24px; /* Reduz o tamanho da fonte do título */
    }
    
    .characteristic-box-boss p {
        font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
        text-align: center;
    }
}
@media (min-width: 375px) and (max-width: 424px) {
    .characteristics-grid-boss {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas */
        gap: 10px; /* Reduz o espaçamento */
    }
    
    .characteristic-box-boss {
        width: 150px; /* Ajusta a largura para ocupar toda a coluna */
        padding: 10px; /* Reduz o padding */
    }
    
    .characteristic-box-boss h2 {
        font-size: 24px; /* Reduz o tamanho da fonte do título */
    }
    
    .characteristic-box-boss p {
        font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
        text-align: center;
    }
}
@media (min-width: 425px)and (max-width: 767px)  {
    .characteristics-grid-boss {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas */
        gap: 10px; /* Reduz o espaçamento */
    }
    
    .characteristic-box-boss {
        width: 180px; /* Ajusta a largura para ocupar toda a coluna */
        padding: 10px; /* Reduz o padding */
    }
    
    .characteristic-box-boss h2 {
        font-size: 24px; /* Reduz o tamanho da fonte do título */
    }
    
    .characteristic-box-boss p {
        font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
        text-align: center;
    }
}
@media (min-width: 768px)and (max-width: 1023px)  {
    .characteristics-grid-boss {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas */
        gap: 10px; /* Reduz o espaçamento */
    }
    
    .characteristic-box-boss {
        width: 250px; /* Ajusta a largura para ocupar toda a coluna */
        padding: 10px; /* Reduz o padding */
    }
    
    .characteristic-box-boss h2 {
        font-size: 24px; /* Reduz o tamanho da fonte do título */
    }
    
    .characteristic-box-boss p {
        font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
        text-align: center;
    }
}









/* #########################################  SETA DO LADO DAS IMAGENS DOS PERSONAGENS  ######################################### */

.arrow-container {
    position: relative;
    float: left;
}

.arrow-link {
    position: absolute;
    right: 20px; /* Ajuste a posição da seta conforme necessário */
    top: 375px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #000; /* Cor da seta */
    cursor: pointer;
}





/* #########################################  ZOOM QUANOD CLICAREM NA FOTO  ######################################### */

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Overlay Content */
.overlay-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

/* Close Button */
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}





/* #########################################  CONTEUDOS PAGINA HOME  ######################################### */

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../O Despertar dos Reinos/Imagens_outras/banner_news.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}
.column{
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: white;
    font-family: 'Sedan SC';
    font-size: 70px;
    text-shadow: 0px 1px 1px black;
    margin: 30px;
    padding: 0;
    margin-top: 30px;
}
.banner_headline h2 {
    color: white;
    font-size: 22px;
    font-family: 'Sedan SC';
    margin:30px;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}
.banner_options{
    margin-top: 200px;
    width: 1420px;
    height: 400px;
    display: flex;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}
.banner1{
    background-image: url('../O Despertar dos Reinos/Imagens_outras/news01.jpeg');
    background-position: center;
    background-size: 100%;
    border: 1px solid black;
}
.banner2{
    background-image: url('../O Despertar dos Reinos/Imagens_outras/news02.jpeg');
    background-position: center;
    background-size: 100%;
    border: 1px solid black;
}
.banner3{
    background-image: url('../O Despertar dos Reinos/Imagens_outras/news03.jpeg');
    background-position: center;
    background-size: 100%;
    border: 1px solid black;
}
.banner_title{
    font-size: 30px;
    font-family: 'Sedan SC';
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Sedan SC';
}
.banner_options a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Sedan SC';
    margin-top: 233px;
    margin-left: 325px;
}

#geral{
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.widget_title{
    margin-top: 260px;
    margin-bottom: 20px;
    text-align: center;
}
.widget_title_text{
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Sedan SC';
}
.widget_title_bar{
    width: 50px;
    height: 3px;
    background-color: black;
    margin-top: 10px;
}
.widget_body{
    font-family: 'Sedan SC';
    font-size: 21px;
    text-align: center;
    margin-top: 60px;

}
@media (max-width: 320px) {
    #banner {
        height: 200px;
    }
    .banner_headline h1 {
        font-size: 40px;
        margin: 10px;
        margin-top: 20px;
    }
    .banner_headline h2 {
        font-size: 16px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner_options {
        margin-top: 10px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .banner1, .banner2, .banner3 {
        flex: 1;
        margin-bottom: 10px;
        background-size: 500px;

    }
    .banner_options a {
        margin-top: 130px;
        margin-left: 100px;
    }
    .widget_title {
        margin-top: 170px;
    }
    .widget_title_text {
        font-size: 30px;
        margin-top: 810px;
    }
    .widget_title_bar {
        margin-top: 5px;
    }
    .widget_body {
        font-size: 16px;
        margin-top: 30px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    #banner {
        height: 200px;
    }
    .banner_headline h1 {
        font-size: 40px;
        margin: 10px;
        margin-top: 20px;
    }
    .banner_headline h2 {
        font-size: 16px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner_options {
        margin-top: 10px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .banner1, .banner2, .banner3 {
        flex: 1;
        margin-bottom: 10px;
        background-size: 500px;

    }
    .banner_options a {
        margin-top: 130px;
        margin-left: 100px;
    }
    .widget_title {
        margin-top: 170px;
    }
    .widget_title_text {
        font-size: 30px;
        margin-top: 810px;
    }
    .widget_title_bar {
        margin-top: 5px;
    }
    .widget_body {
        font-size: 16px;
        margin-top: 30px;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    #banner {
        height: 200px;
    }
    .banner_headline h1 {
        font-size: 40px;
        margin: 10px;
        margin-top: 20px;
    }
    .banner_headline h2 {
        font-size: 16px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner_options {
        margin-top: 10px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .banner1, .banner2, .banner3 {
        flex: 1;
        margin-bottom: 10px;
        background-size: 500px;

    }
    .banner_options a {
        margin-top: 130px;
        margin-left: 100px;
    }
    .widget_title {
        margin-top: 170px;
    }
    .widget_title_text {
        font-size: 30px;
        margin-top: 810px;
    }
    .widget_title_bar {
        margin-top: 5px;
    }
    .widget_body {
        font-size: 16px;
        margin-top: 30px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    #banner {
        height: 200px;
    }
    .banner_headline h1 {
        font-size: 40px;
        margin: 10px;
        margin-top: 20px;
    }
    .banner_headline h2 {
        font-size: 16px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner_options {
        margin-top: 10px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .banner1, .banner2, .banner3 {
        flex: 1;
        margin-bottom: 10px;
        background-size: 500px;

    }
    .banner_options a {
        margin-top: 130px;
        margin-left: 100px;
    }
    .widget_title {
        margin-top: 170px;
    }
    .widget_title_text {
        font-size: 30px;
        margin-top: 810px;
    }
    .widget_title_bar {
        margin-top: 5px;
    }
    .widget_body {
        font-size: 16px;
        margin-top: 30px;
    }
}
@media (min-width: 1024px) and (max-width: 1390) {
    #banner {
        height: 200px;
    }
    .banner_headline h1 {
        font-size: 40px;
        margin: 10px;
        margin-top: 20px;
    }
    .banner_headline h2 {
        font-size: 16px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner_options {
        margin-top: 10px;
        width: 500px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .banner1, .banner2, .banner3 {
        flex: 1;
        margin-bottom: 10px;
        background-size: 500px;

    }
    .banner_options a {
        margin-top: 130px;
        margin-left: 200px;
    }
    .widget_title {
        margin-top: 170px;
    }
    .widget_title_text {
        font-size: 30px;
        margin-top: 250px;
    }
    .widget_title_bar {
        margin-top: 5px;
    }
    .widget_body {
        font-size: 16px;
        margin-top: 30px;
    }
}