* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h {
    background-color: rgb(0, 0, 0);
    overflow: auto;
}

#menu-h ul {
    /* Remova a limitação de largura máxima */
    list-style: none;
    padding: 0;
    white-space: nowrap; /* Impede a quebra de linha */
}

#menu-h ul li {
    display: inline-block;
}

#menu-h ul li a {
    color: #FFF;
    padding: 14px;
    display: block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(0, 0, 0);
}


#menu-h ul li:last-child {
    margin-left: auto; /* Alinhar o último item à direita */
}

#menu-h ul li:last-child a {
    background-color: rgb(0, 0, 0); /* Manter a cor de fundo do último item */
}


/* BANNER */
.banner {
    max-width: 100%; /* Define a largura máxima como 100% da largura do cabeçalho */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Para garantir que a imagem seja exibida como bloco */
}


/* PLANO DE FUNDO */
body {
    /* Defina uma cor de fundo padrão para o corpo, caso a imagem não seja carregada */
    background-color: #000000;
}




/* Estilo CSS para centralizar o parágrafo */
.centralizado {
    width: 50%; /* Defina a largura desejada */
    margin: 0 auto; /* Margens automáticas para centralizar */
    font-size: 60px; /* Tamanho da fonte */
}








/*rgb(24, 139, 233);*/


/*fonte do cabeçalho*/
h1{

    font-family: monospace;

}



/* rodapé 
html, body {
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
}
        
footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    color: #FFF;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

*/