
/* arrumar o tamanho da tela para celular 576px com @media */

/* organizar código */




* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* #########################################  BANNER  ######################################### */
.banner_img {
    max-width: 100%; /* Define a largura máxima como 100% da largura do cabeçalho */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Para garantir que a imagem seja exibida como bloco */
}
@media (max-width: 375px) {
    .banner_img{
        max-width: 100%;
        height: auto;
        display: block;
    
    }

}


/* #########################################  PLANO DE FUNDO  ######################################### */
body {
    background-image: url('Imagens_outras/fundo05.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

/* #########################################  CAMPO DE BUSCA  ######################################### */
.btn-buscar {
    float: right; /* Alinha o botão à direita */
    margin-top: -31px; /* Adiciona um espaçamento superior */
    margin-right: 20px; /* Adiciona um espaçamento direito */
}
/* Ajuste para telas menores de 320px */
@media (max-width: 320px) {
    .btn-buscar {
        float: right; /* Alinha o botão ao centro */
        margin-top: -33px; /* Adiciona um espaçamento superior */
        margin-right: 20px; /* Adiciona um espaçamento direito */
        text-align: right; /* Centraliza o conteúdo */
    }
    
    .btn-buscar input[type="search"] {
        width: 40%; /* Ajusta a largura do campo de busca */
        font-size: 14px; /* Ajusta o tamanho da fonte do campo de busca */
    }
    
    .btn-buscar label {
        font-size: 14px; /* Ajusta o tamanho da fonte do rótulo */
    }
}
@media (min-width: 321px) {
    .btn-buscar {
        float: right; /* Alinha o botão ao centro */
        margin-top: -33px; /* Adiciona um espaçamento superior */
        margin-right: 20px; /* Adiciona um espaçamento direito */
        text-align: right; /* Centraliza o conteúdo */
    }
    
    .btn-buscar input[type="search"] {
        width: 40%; /* Ajusta a largura do campo de busca */
        font-size: 14px; /* Ajusta o tamanho da fonte do campo de busca */
    }
    
    .btn-buscar label {
        font-size: 14px; /* Ajusta o tamanho da fonte do rótulo */
    }
}
@media (min-width: 851px) and (max-width: 1023px){
    .btn-buscar {
        float: none;  /*Alinha o botão ao centro */
        margin-top: 0px;  /*Adiciona um espaçamento superior */
        margin-right: 0px;  /*Adiciona um espaçamento direito */
        margin-bottom: 10px;
        text-align: center;  /*Centraliza o conteúdo */
    }
    
    .btn-buscar input[type="search"] {
        width: 10%;  /*Ajusta a largura do campo de busca */
        font-size: 14px;  /*Ajusta o tamanho da fonte do campo de busca */
    }
    
    .btn-buscar label {
        font-size: 14px; /* Ajusta o tamanho da fonte do rótulo */
    }
}
@media (min-width: 1024px) and (max-width: 1590px){
    .btn-buscar {
        float: none;  /*Alinha o botão ao centro */
        margin-top: 0px;  /*Adiciona um espaçamento superior */
        margin-right: 0px;  /*Adiciona um espaçamento direito */
        margin-bottom: 10px;
        text-align: center;  /*Centraliza o conteúdo */
    }
    
    .btn-buscar input[type="search"] {
        width: 10%;  /*Ajusta a largura do campo de busca */
        font-size: 14px;  /*Ajusta o tamanho da fonte do campo de busca */
    }
    
    .btn-buscar label {
        font-size: 14px; /* Ajusta o tamanho da fonte do rótulo */
    }
}



/* #########################################  MENU  ######################################### */
#menu-h {
    background-color: rgb(0, 0, 0);
    overflow: hidden; /*overflow: auto;*/
}
#menu-h ul {
    max-width: 1000px;
    list-style: none;
    padding: 0;
    /*white-space: nowrap; /* Impede a quebra de linha */
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#menu-h ul li {
    display: inline-block;
}
#menu-h ul li a {
    color: #FFF;
    font-family: 'Vollkorn';
    padding: 12px;
    display: block;
    text-decoration: none;
    transition: background .4s;
}
#menu-h ul li a:hover {
    background-color: rgb(50, 50, 50); /* 0 0 0 */
}
/* Esconder o botão do menu por padrão */
.menu-toggle {
    display: none;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}
@media (max-width: 320px) {
    /* Exibir o botão do menu */
    .menu-toggle {
        display: block;
        margin-top: -5px; /* Adiciona um espaçamento superior */
        margin-left: 20px; /* Adiciona um espaçamento direito */
    }
    /* Esconder o menu inicialmente */
    #menu-h ul {
        display: none;
        position: fixed; /* Para manter o menu fixo na tela */
        top: 0; /* Alinha o menu no topo */
        left: 0; /* Alinha o menu à esquerda */
        height: 42%; /* Define a altura do menu para preencher toda a tela */
        width: 250px; /* Largura da caixa do menu */
        background-color: #000000; /* Cor de fundo do menu */
        padding: 20px; /* Espaçamento interno do menu */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
        z-index: 999; /* Para garantir que o menu esteja acima de outros elementos */
    }
    /* Exibir o menu quando o botão é clicado */
    #menu-h ul.show {
        display: block; /* Altera para exibir o menu */
    }
    #menu-h ul li {
        display: block;
        text-align: center;
    }
    #menu-h ul li a {
        display: block; /* Ajusta para ocupar toda a largura da caixa do menu */
        padding: 10px;
        border-bottom: 1px solid #444;
    }
}

@media (max-width: 375px) {
    /* Exibir o botão do menu */
    .menu-toggle {
        display: block;
        margin-top: -5px; /* Adiciona um espaçamento superior */
        margin-left: 20px; /* Adiciona um espaçamento direito */
    }
    /* Esconder o menu inicialmente */
    #menu-h ul {
        display: none;
        position: fixed; /* Para manter o menu fixo na tela */
        top: 0; /* Alinha o menu no topo */
        left: 0; /* Alinha o menu à esquerda */
        height: 42%; /* Define a altura do menu para preencher toda a tela */
        width: 250px; /* Largura da caixa do menu */
        background-color: #000000; /* Cor de fundo do menu */
        padding: 20px; /* Espaçamento interno do menu */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
        z-index: 999; /* Para garantir que o menu esteja acima de outros elementos */
    }
    /* Exibir o menu quando o botão é clicado */
    #menu-h ul.show {
        display: block; /* Altera para exibir o menu */
    }
    #menu-h ul li {
        display: block;
        text-align: center;
    }
    #menu-h ul li a {
        display: block; /* Ajusta para ocupar toda a largura da caixa do menu */
        padding: 10px;
        border-bottom: 1px solid #444;
    }
}

@media (max-width: 425px) {
    /* Exibir o botão do menu */
    .menu-toggle {
        display: block;
        margin-top: -5px; /* Adiciona um espaçamento superior */
        margin-left: 20px; /* Adiciona um espaçamento direito */
    }
    /* Esconder o menu inicialmente */
    #menu-h ul {
        display: none;
        position: fixed; /* Para manter o menu fixo na tela */
        top: 0; /* Alinha o menu no topo */
        left: 0; /* Alinha o menu à esquerda */
        height: 42%; /* Define a altura do menu para preencher toda a tela */
        width: 250px; /* Largura da caixa do menu */
        background-color: #000000; /* Cor de fundo do menu */
        padding: 20px; /* Espaçamento interno do menu */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
        z-index: 999; /* Para garantir que o menu esteja acima de outros elementos */
    }
    /* Exibir o menu quando o botão é clicado */
    #menu-h ul.show {
        display: block; /* Altera para exibir o menu */
    }
    #menu-h ul li {
        display: block;
        text-align: center;
    }
    #menu-h ul li a {
        display: block; /* Ajusta para ocupar toda a largura da caixa do menu */
        padding: 10px;
        border-bottom: 1px solid #444;
    }
}
@media (max-width: 849px) {
    /* Exibir o botão do menu */
    .menu-toggle {
        display: block;
        margin-top: -5px; /* Adiciona um espaçamento superior */
        margin-left: 20px; /* Adiciona um espaçamento direito */
    }
    /* Esconder o menu inicialmente */
    #menu-h ul {
        display: none;
        position: fixed; /* Para manter o menu fixo na tela */
        top: 0; /* Alinha o menu no topo */
        left: 0; /* Alinha o menu à esquerda */
        height: 42%; /* Define a altura do menu para preencher toda a tela */
        width: 250px; /* Largura da caixa do menu */
        background-color: #000000; /* Cor de fundo do menu */
        padding: 20px; /* Espaçamento interno do menu */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
        z-index: 999; /* Para garantir que o menu esteja acima de outros elementos */
    }
    /* Exibir o menu quando o botão é clicado */
    #menu-h ul.show {
        display: block; /* Altera para exibir o menu */
    }
    #menu-h ul li {
        display: block;
        text-align: center;
    }
    #menu-h ul li a {
        display: block; /* Ajusta para ocupar toda a largura da caixa do menu */
        padding: 10px;
        border-bottom: 1px solid #444;
    }
}



/* #########################################  RODAPÉ  ######################################### */
footer {
    background-color: #000;
    padding: 40px;
    color: #999;
}
.footer--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
    height: auto;
}
.footer--item {
    flex: 1;
    padding: 10px;
}
.footer--item.area1 {
    border-right: 1px solid #999;
    padding-right: 20px; /* Ajuste de espaçamento */
}
.footer--item.area1 h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Sedan SC';
}
.footer--item.area1 p {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Sedan SC';
}
.footer--item.area2 {
    text-align: center;
    color: #999;
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Sedan SC';
}
.footer--item.area2 p {
    margin: 5px 0;
}
.footer-social {
    display: flex;
    justify-content: center; /* Centraliza os ícones dentro do container */
    margin-top: 20px; /* Espaçamento superior */
}
.footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #333;
    border-radius: 13px;
    margin-right: 15px;
    transition: background-color 0.3s;
}
.footer-social a:hover {
    background-color: #000;
}

.footer-social img {
    height: 15px; /* Ajusta o tamanho das imagens para melhor visualização */
}

.footer--item.area3 {
    text-align: center;
    border-left:  1px solid #999;
    padding-left: 20px; /* Ajuste de espaçamento */
    height: auto; /* Altura automática para ajustar conteúdo */
}

@media (max-width: 320px) {
    .footer--area {
        flex-direction: column; /* Altera para layout de coluna */
        align-items: center; /* Centraliza itens na horizontal */
        padding: 20px; /* Reduz o padding para ocupar mais espaço na largura */
    }
    .footer--item {
        flex-basis: 100%; /* Define a largura total para cada item */
        border: none; /* Remove bordas */
        padding: 10px 0; /* Ajuste de espaçamento interno */
        text-align: center; /* Centraliza texto */
        margin-bottom: 10px; /* Espaçamento inferior entre itens */
    }
    .footer--item.area1 {
        border-right: none; /* Remove a borda direita */
        padding-right: 0; /* Remove o espaçamento direito */
        padding-left: 0; /* Remove o espaçamento esquerdo */
        margin-bottom: 20px; /* Espaçamento inferior maior */
        
    }
    .footer--item.area1 p{
        font-size: 15px;
        justify-content: center;
    }
    .footer--item.area1 h2 {
        font-size: 20px; /* Reduz o tamanho da fonte */
    }
    .footer--item.area3 {
        border-left: none; /* Remove a borda esquerda */
        padding-left: 0; /* Remove o espaçamento esquerdo */
        padding-bottom: 10px; /* Ajuste de espaçamento inferior */
    }
    .footer-social {
        margin-top: 20px; /* Ajuste de margem superior */
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    /* Estilos específicos para telas entre 321px e 768px */
    .footer--area {
        flex-direction: column; /* Alinha os itens verticalmente */
    }
    .footer--item {
        flex-basis: 100%; /* Um item por linha */
        border: none; /* Remove bordas laterais */
        padding: 10px 0; /* Ajuste de espaçamento */
        text-align: center; /* Centraliza o texto */
    }
    .footer--item.area1 {
        border: none; /* Remove a borda */
        border-right: none; /* Remove a borda direita */
        padding-right: 0; /* Remove o espaçamento direito */
        padding-left: 0; /* Remove o espaçamento esquerdo */
    }
    .footer--item.area1 h2 {
        font-size: 20px; /* Tamanho de fonte menor */
        text-align: center; /* Centraliza o texto */
    }
    .footer--item.area3 {
        border: none;
        margin-top: 30px;
        padding-bottom: 40px; /* Ajuste positivo para espaçamento inferior */
    }
}


@media (min-width: 769px) {
    /* Estilos específicos para telas maiores ou iguais a 769px */
}

/* #########################################  TEXTO -- PAGINA HISTORIA --  ######################################### */
.centralizado {
    width: 80%; /* Defina a largura desejada */
    margin: 0 auto; /* Margens automáticas para centralizar */
    font-size: 25px; /* Tamanho da fonte */
    /*border: 3px solid black;  Borda sólida com 10px de largura e cor preta */
    /*padding: 20px; /* Espaçamento interno */
    text-align: justify; /* Centraliza o texto horizontalmente */
}
@media (max-width: 375px) {
    .centralizado {
        position: static; /* Remove a posição absoluta */
        margin-top: 20px; /* Adiciona um espaçamento superior */
        font-size: 18px;
    }
}


/* #########################################  IMAGENS RELIQUIAS -- PAGINA HISTORIA -- ######################################### */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza as imagens no contêiner */
    /*gap: 3px; /* Espaçamento de 20px entre as imagens */
    margin-top: 0px; /* Espaçamento superior para afastar do conteúdo anterior */
}
.image-item {
    width: 260px;
    text-align: center;
    border-radius: 15px;
    margin: 45px;
    margin-top: 0px;
   /* overflow: hidden; /* Adicionado para evitar overflow ao aplicar zoom */
}
.image-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}
.image-item img:hover {
    transform: scale(1.1); /* Aplica o zoom */
}
.image-item h2 {
    margin: 10px 0 5px;
    font-size: 20px;
}
.image-item p {
    margin: 0;
    font-size: 17px;
    line-height: 20px;
}
.image-item .btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px; /* Espaçamento acima do botão */
    position: relative;
    top: 20px; /* Ajuste a posição vertical do botão */
}
.image-item .btn:hover {
    background-color: #333;
}

/* Responsivo para telas menores */
@media (max-width: 375px) {
    .image-item {
        width: 150px; /* Diminui o tamanho das imagens em telas menores */
    }

    .image-container {
        gap: 5px; /* Diminui o espaçamento entre as imagens em telas menores */
    }
}

/* #########################################  IMAGENS BOSS -- PAGINA BOSS --  ######################################### */
.image-container-boss {
    display: flex;
    justify-content: center; /* Centraliza as imagens no contêiner */
    gap: 5px; /* Espaçamento de 20px entre as imagens */
    margin-top: 30px; /* Espaçamento superior para afastar do conteúdo anterior */
}
.image-item-boss {
    width: 350px;
    text-align: center;
    border-radius: 15px;
    margin-left: 50px; /*  margem à esquerda */
    margin-right: 50px; /* margem à direita */
   /* overflow: hidden; /*  evita overflow ao aplicar zoom */
}
.image-item-boss img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease; /* transição suave */
}
.image-item-boss img:hover {
    transform: scale(1.1); /* zoom */
}
.image-item-boss h2 {
    margin: 10px 0 5px;
    font-size: 30px;
}
.image-item-boss p {
    margin: 0;
    font-size: 17px;
    line-height: 20px;
}
.image-item-boss .btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px; /* Espaçamento acima do botão */
    position: relative;
    top: 5px; /* Ajuste a posição vertical do botão */
}
.image-item-boss .btn:hover {
    background-color: #333;
}

@media (min-width: 320px) and (max-width: 374px) {
    .image-container-boss {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    .image-item-boss {
        flex-basis: calc(50% - 5px); /* Define a largura para ocupar metade da largura do contêiner, subtraindo o espaçamento */
        margin-bottom: 10px;
    }
    .image-item-boss img {
        width: 100%;
    }
    .image-item-boss h2 {
        font-size: 18px;
    }
    .image-item-boss p {
        font-size: 15px;
        line-height: 18px;
    }
    .image-item-boss .btn {
        font-size: 14px;
        padding: 8px 16px;
        top: 1px;
    }
    h1 {
        font-size: 24px;
        top: 5px;
    }
}
@media (min-width: 375px) and (max-width: 424px) {
    .image-container-boss {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    .image-item-boss {
        flex-basis: calc(50% - 5px); /* Define a largura para ocupar metade da largura do contêiner, subtraindo o espaçamento */
        margin-bottom: 10px;
    }
    .image-item-boss img {
        width: 100%;
    }
    .image-item-boss h2 {
        font-size: 18px;
    }
    .image-item-boss p {
        font-size: 15px;
        line-height: 18px;
    }
    .image-item-boss .btn {
        font-size: 14px;
        padding: 8px 16px;
        top: 1px;
    }
    h1 {
        font-size: 24px;
        top: 5px;
    }
}
@media (min-width: 425px) and (max-width: 767px) {
    .image-container-boss {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    .image-item-boss {
        flex-basis: calc(50% - 5px); /* Define a largura para ocupar metade da largura do contêiner, subtraindo o espaçamento */
        margin-bottom: 10px;
    }
    .image-item-boss img {
        width: 100%;
    }
    .image-item-boss h2 {
        font-size: 18px;
    }
    .image-item-boss p {
        font-size: 15px;
        line-height: 18px;
    }
    .image-item-boss .btn {
        font-size: 14px;
        padding: 8px 16px;
        top: 1px;
    }
    h1 {
        font-size: 24px;
        top: 5px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .image-container-boss {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    .image-item-boss {
        flex-basis: calc(50% - 5px); /* Define a largura para ocupar metade da largura do contêiner, subtraindo o espaçamento */
        margin-bottom: 10px;
    }
    .image-item-boss img {
        width: 100%;
    }
    .image-item-boss h2 {
        font-size: 18px;
    }
    .image-item-boss p {
        font-size: 15px;
        line-height: 18px;
    }
    .image-item-boss .btn {
        font-size: 14px;
        padding: 8px 16px;
        top: 1px;
    }
    h1 {
        font-size: 24px;
        top: 5px;
    }
}


/* #########################################  IMAGENS BOSS ZOOM -- BOTAO PROXIMA E ANTERIOR -- ######################################### */

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 999;
}
.overlay-content {
    max-width: 80%;
    max-height: 80%;
}
.next-button, .prev-button {
    position: absolute;
    top: 50%;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transform: translateY(-50%);
    z-index: 10;
    font-family: 'Sedan SC';
    text-transform: uppercase;
    border: 1px solid white;
}
.next-button {
    right: 300px;
}
.prev-button {
    left: 300px;
}
.next-button:hover, .prev-button:hover {
    background-color: #333;
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/* #########################################  IMAGENS BOSS ZOOM -- PAGINA PERSONAGENS BOSS -- ######################################### */
.zoom-container {
    border-radius: 15px;
}
.zoom-image {
    border-radius: 15px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}
.zoom-container:hover .zoom-image {
    transform: scale(1.15); /* Aplica um zoom ligeiramente menor */
}

.boss-description p{
    font-size: 20px;
    text-align: justify;
    margin-right: 40px; /* Margem à direita */
    margin: 40px;
}
@media (max-width: 320px) {
    /* Ajustando o tamanho das imagens */
    .zoom-container {
        width: 75%; /* Ajusta a largura da imagem */
        margin-right: 5%; /* Espaçamento à direita */
        margin-left: 5%; /* Espaçamento à esquerda */
        margin-bottom: 10px;
        display: block;
        float: none;
    }
    .zoom-image {
        width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
        border-radius: 15px; /* Adiciona bordas arredondadas */
    }
    .boss-description {
        clear: both;
        text-align: center;
    }
    /* Ajustando o tamanho do texto */
    .boss-description h1 {
        font-size: 18px; /* Tamanho da fonte */
        text-align: center; /* Centraliza o texto */
    }
    .boss-description p {
        font-size: 14px; /* Tamanho da fonte */
        margin-left: 10px; /* Margem à esquerda */
        margin-right: 10px; /* Margem à direita */
        text-align: justify;
    }
}

@media (max-width: 375px) {
    /* Ajustando o tamanho das imagens */
    .zoom-container {
        width: 75%; /* Ajusta a largura da imagem */
        margin-right: 5%; /* Espaçamento à direita */
        margin-left: 5%; /* Espaçamento à esquerda */
        margin-bottom: 10px;
        display: block;
        float: none;
    }
    .zoom-image {
        width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
        border-radius: 15px; /* Adiciona bordas arredondadas */
    }
    .boss-description {
        clear: both;
        text-align: center;
    }
    /* Ajustando o tamanho do texto */
    .boss-description h1 {
        font-size: 18px; /* Tamanho da fonte */
        text-align: center; /* Centraliza o texto */
    }
    .boss-description p {
        font-size: 14px; /* Tamanho da fonte */
        margin-left: 10px; /* Margem à esquerda */
        margin-right: 10px; /* Margem à direita */
        text-align: justify;
    }
}
@media (max-width: 425px) {
    /* Ajustando o tamanho das imagens */
    .zoom-container {
        width: 75%; /* Ajusta a largura da imagem */
        margin-right: 5%; /* Espaçamento à direita */
        margin-left: 5%; /* Espaçamento à esquerda */
        margin-bottom: 10px;
        display: block;
        float: none;
    }
    .zoom-image {
        width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
        border-radius: 15px; /* Adiciona bordas arredondadas */
    }
    .boss-description {
        clear: both;
        text-align: center;
    }
    /* Ajustando o tamanho do texto */
    .boss-description h1 {
        font-size: 18px; /* Tamanho da fonte */
        text-align: center; /* Centraliza o texto */
    }
    .boss-description p {
        font-size: 14px; /* Tamanho da fonte */
        margin-left: 10px; /* Margem à esquerda */
        margin-right: 10px; /* Margem à direita */
        text-align: justify;
    }
}
@media (max-width: 768px) {
    /* Ajustando o tamanho das imagens */
    .zoom-container {
        width: 75%; /* Ajusta a largura da imagem */
        margin-right: 5%; /* Espaçamento à direita */
        margin-left: 40px; /* Espaçamento à esquerda */
        margin-bottom: 10px;
        display: block;
        float: right;
    }
    .zoom-image {
        width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
        border-radius: 15px; /* Adiciona bordas arredondadas */
    }
    .boss-description {
        clear: both;
        text-align: center;
    }
    /* Ajustando o tamanho do texto */
    .boss-description h1 {
        font-size: 18px; /* Tamanho da fonte */
        text-align: center; /* Centraliza o texto */
    }
    .boss-description p {
        font-size: 14px; /* Tamanho da fonte */
        margin-left: 10px; /* Margem à esquerda */
        margin-right: 10px; /* Margem à direita */
        text-align: justify;
    }
}





/* #########################################  IMAGENS - PAGINA REINOS  ######################################### */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    justify-content: center;
}
.grid-container img {
    width: 100%;
    height: auto;
}
.grid-container a {
    text-align: center;
    text-decoration: none;
    color: black;
}
.zoom-image {
    border-radius: 15px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}
.zoom-container:hover .zoom-image {
    transform: scale(1.07); /* Aplica um zoom ligeiramente menor */
}

@media (max-width: 375px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .grid-container img {
        max-width: 90%;
        margin: 0 auto;
    }

}

/* #########################################  IMAGENS - PAGINA LOJA ######################################### */
.grid-container-loja {
    display: flex;
    flex: 1;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 1000px;
    width: 100%;
    margin: 20px auto;
    justify-content: center;
}
.grid-container-loja img {
    width: 100%;
    height: auto;
}
.grid-container-loja a {
    text-align: center;
    text-decoration: none;
    color: black;
}
.zoom-image {
    border-radius: 15px;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}
.zoom-container:hover .zoom-image {
    transform: scale(1.07); /* Aplica um zoom ligeiramente menor */
}

@media (max-width: 375px) {
    .grid-container-loja {
        grid-template-columns: 1fr;
    }
    .grid-container-loja img {
        max-width: 90%;
        margin: 0 auto;
    }

}


/* #########################################  BOTAO INDEX  ######################################### */
.button-in {
    display:inline-block;
    background-color:#000000;
    color:#FFF;
    text-transform: uppercase;
    font-family: 'Sedan SC';
    font-size:12px;
    font-weight:600;
    text-decoration: none;
    padding:10px 30px;
    margin-top:25px;
    border-radius:20px;
}
.button-in:hover {
    background-color:rgb(50, 50, 50);
}
.button-in--dark {
    background-color:#000;
}
.button-in--dark:hover {
    background-color:#999;
}






/* Estilos para os formulários */
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
}
.form-container button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.form-container button:hover {
    opacity: 0.8;
}





  /* Estilos para os botões */
  .btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
}
.btn:hover {
    background-color: #f0f0f0;
}
/* Estilos para posicionar os botões */
.btn-login {
    right: 190px;
    top: 250px;
}
.btn-cadastrar {
    right: 50px;
    top: 250px;
}








/* #########################################  8 QUADRADOS CARACTERISTICAS PERSONAGENS  ######################################### */
.characteristics-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 0px auto;
    max-width: 90%;
}
.characteristic {
    text-align: center;
}
.characteristic-box {
    width: 300px;
    height: 410px;
    background-image: url('Imagens_outras/fundo07.JPG'); /* Imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem */
    background-position: center; /* Centraliza a imagem */
    border: 2px solid #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.characteristic-box h2 {
    font-family: 'Sedan SC', serif;
    font-size: 40px;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.characteristic-box p {
    font-family: 'Sedan SC';
    font-size: 16px;
    color: #000000;
    margin: 0;
    text-align: left;
    width: 100%;
}
/* para telas menores */
@media (max-width: 375px) {
    .characteristics-grid {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas */
        gap: 10px; /* Reduz o espaçamento */
    }
    
    .characteristic-box {
        width: 100%; /* Ajusta a largura para ocupar toda a coluna */
        padding: 10px; /* Reduz o padding */
    }
    
    .characteristic-box h2 {
        font-size: 24px; /* Reduz o tamanho da fonte do título */
    }
    
    .characteristic-box p {
        font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
    }
}
/* #########################################  3 QUADRADOS CARACTERISTICAS BOSS  ######################################### */
.characteristics-grid-boss {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 0px auto;
    max-width: 90%;
}
.characteristic-boss {
    text-align: center;
}
.characteristic-box-boss {
    width: 250px;
    height: 300px;
    background-image: url('Imagens_outras/fundo08.JPG'); /* Imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem */
    background-position: center; /* Centraliza a imagem */
    border: 2px solid #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.characteristic-box-boss h2 {
    font-family: 'Sedan SC', serif;
    font-size: 40px;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.characteristic-box-boss p {
    font-family: 'Sedan SC';
    font-size: 16px;
    color: #000000;
    margin: 0;
    text-align: left;
    width: 100%;
}
/* para telas menores */
@media (min-width: 320px) and (max-width: 374px) {
    .characteristics-grid-boss {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas */
        gap: 10px; /* Reduz o espaçamento */
    }
    
    .characteristic-box-boss {
        width: 140px; /* Ajusta a largura para ocupar toda a coluna */
        padding: 10px; /* Reduz o padding */
    }
    
    .characteristic-box-boss h2 {
        font-size: 24px; /* Reduz o tamanho da fonte do título */
    }
    
    .characteristic-box-boss p {
        font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
        text-align: center;
    }
}
@media (min-width: 375px) and (max-width: 424px) {
    .characteristics-grid-boss {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas */
        gap: 10px; /* Reduz o espaçamento */
    }
    
    .characteristic-box-boss {
        width: 150px; /* Ajusta a largura para ocupar toda a coluna */
        padding: 10px; /* Reduz o padding */
    }
    
    .characteristic-box-boss h2 {
        font-size: 24px; /* Reduz o tamanho da fonte do título */
    }
    
    .characteristic-box-boss p {
        font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
        text-align: center;
    }
}
@media (min-width: 425px)and (max-width: 767px)  {
    .characteristics-grid-boss {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas */
        gap: 10px; /* Reduz o espaçamento */
    }
    
    .characteristic-box-boss {
        width: 180px; /* Ajusta a largura para ocupar toda a coluna */
        padding: 10px; /* Reduz o padding */
    }
    
    .characteristic-box-boss h2 {
        font-size: 24px; /* Reduz o tamanho da fonte do título */
    }
    
    .characteristic-box-boss p {
        font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
        text-align: center;
    }
}
@media (min-width: 768px)and (max-width: 1023px)  {
    .characteristics-grid-boss {
        grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas */
        gap: 10px; /* Reduz o espaçamento */
    }
    
    .characteristic-box-boss {
        width: 250px; /* Ajusta a largura para ocupar toda a coluna */
        padding: 10px; /* Reduz o padding */
    }
    
    .characteristic-box-boss h2 {
        font-size: 24px; /* Reduz o tamanho da fonte do título */
    }
    
    .characteristic-box-boss p {
        font-size: 12px; /* Reduz o tamanho da fonte do parágrafo */
        text-align: center;
    }
}









/* #########################################  SETA DO LADO DAS IMAGENS DOS PERSONAGENS  ######################################### */

.arrow-container {
    position: relative;
    float: left;
}

.arrow-link {
    position: absolute;
    right: 20px; /* Ajuste a posição da seta conforme necessário */
    top: 375px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #000; /* Cor da seta */
    cursor: pointer;
}





/* #########################################  ZOOM QUANOD CLICAREM NA FOTO  ######################################### */

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Overlay Content */
.overlay-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

/* Close Button */
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}





/* #########################################  CONTEUDOS PAGINA HOME  ######################################### */


/* #########################################  BANNER, SLIDE*/
.banner {
    height: calc(80vh - 100px);
    display: flex;
    justify-content: center;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    position: relative; /* Adiciona posição relativa para os elementos filhos absolutos */
    
}
.banner .sliders{
    width: 100vw;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease; /* Efeito de transição suave para slides */
    
}
.banner .slide{
    flex: 0 0 100vw; /* Cada slide ocupa 100% da largura da viewport */
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .slidearea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: white;
}
.banner h1{
    text-transform: uppercase;
    font-family: 'Sedan SC';
    font-size: 50px;
}
.banner h2 {
    text-transform: uppercase;
    font-family: 'Sedan SC';
    margin-top: 20px;
}
.banner a {
    background-color: #000000;
    display: inline-block;
    color: white;
    font-family: 'Sedan SC';
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding:10px 30px ;
    margin-top: 30px;
    border-radius: 20px;
}
.banner .slider-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito de transição suave */
}
.banner .pointer.active{
    background-color: #ffffff;
}

@media (max-width: 320px) {
    .banner {
        height: calc(50vh - 100px); /* Reduz a altura do banner para telas menores */
    }
    .banner h1{
        text-transform: uppercase;
        font-family: 'Sedan SC';
        font-size: 20px;
    }
    .banner h2 {
        text-transform: uppercase;
        font-family: 'Sedan SC';
        font-size: 13px;
        margin-top: 20px;
    }
    .banner .sliders {
        height: 100%; /* Mantém a altura dos slides */
    }
    .banner .slide {
        flex: 0 0 320px; /* Cada slide ocupa 320 pixels de largura */
        width: 320px; /* Largura fixa para telas menores */
    }
    .banner .slider-pointers {
        margin-top: 300px; /* Ajusta a margem superior dos pontos de navegação */
    }
    .banner .pointer {
        width: 10px; /* Reduz o tamanho dos pontos de navegação */
        height: 10px;
        margin: 0 5px; /* Espaçamento entre os pontos */
    }
}

/* #########################################  3 NOTICIAS*/

.column{
    flex-direction: column;
}
.banner_options{
    margin-top: 40px;
    width: 1420px;
    height: 400px;
    display: flex;
}
.banner1,
.banner2,
.banner3,
.banner4,
.banner5,
.banner6 {
    flex: 1;
    color: white;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.banner1{
    background-image: url('./Imagens_outras/new_att.jpeg');
    background-position: center;
    background-size: 500px;
    border: 1px solid black;
    box-shadow:0px 5px 10px #333;
}
.banner2{
    background-image: url('./Imagens_outras/loja.jpeg');
    background-position: center;
    background-size: 500px;
    border: 1px solid black;
    box-shadow:0px 5px 10px #333;
}
.banner3{
    background-image: url('./Imagens_outras/mercador.jpeg');
    background-position: center;
    background-size: 500px;
    border: 1px solid black;
    box-shadow:0px 5px 10px #333;
}
.banner4{
    background-image: url('./Imagens_outras/news01.jpeg');
    background-position: center;
    background-size: 500px;
    border: 1px solid black;
    box-shadow:0px 5px 10px #333;
}
.banner5{
    background-image: url('./Imagens_outras/news02.jpeg');
    background-position: center;
    background-size: 500px;
    border: 1px solid black;
    box-shadow:0px 5px 10px #333;
}
.banner6{
    background-image: url('./Imagens_outras/news03.jpeg');
    background-position: center;
    background-size: 500px;
    border: 1px solid black;
    box-shadow:0px 5px 10px #333;
}
.banner_title{
    font-size: 30px;
    font-family: 'Sedan SC';
}
.banner_desc{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Sedan SC';
}
.banner_options a{
    display: inline-block;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Sedan SC';
    margin-top: 233px;
    margin-left: 270px;
    border-radius: 20px;
    text-transform: uppercase;
}

.banner_options a:hover{
    background-color: black;
    color: white;
}

/* #########################################  BANNER, SLIDE*/
#geral{
    display: flex;
    justify-content: center;
    margin-left: 132px;
    margin-right: 132px;
    margin-top: -40px;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.widget_title{
    margin-bottom: 20px;
    text-align: center;
}
.widget_title_text{
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Sedan SC';
}
.widget_body{
    font-family: 'Sedan SC';
    font-size: 21px;
    text-align: center;
    margin-top: 60px;

}
@media (max-width: 320px) {
    #banner {
        height: 200px;
    }
    .banner_headline h1 {
        font-size: 40px;
        margin: 10px;
        margin-top: 20px;
    }
    .banner_headline h2 {
        font-size: 16px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner_options {
        margin-top: 10px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .banner1, .banner2, .banner3 {
        flex: 1;
        margin-bottom: 10px;
        background-size: 500px;

    }
    .banner_options a {
        margin-top: 130px;
        margin-left: 100px;
    }
    .widget_title {
        margin-top: 170px;
    }
    .widget_title_text {
        font-size: 30px;
        margin-top: 810px;
    }
    .widget_title_bar {
        margin-top: 5px;
    }
    .widget_body {
        font-size: 16px;
        margin-top: 30px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    #banner {
        height: 200px;
    }
    .banner_headline h1 {
        font-size: 40px;
        margin: 10px;
        margin-top: 20px;
    }
    .banner_headline h2 {
        font-size: 16px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner_options {
        margin-top: 10px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .banner1, .banner2, .banner3 {
        flex: 1;
        margin-bottom: 10px;
        background-size: 500px;

    }
    .banner_options a {
        margin-top: 130px;
        margin-left: 100px;
    }
    .widget_title {
        margin-top: 170px;
    }
    .widget_title_text {
        font-size: 30px;
        margin-top: 810px;
    }
    .widget_title_bar {
        margin-top: 5px;
    }
    .widget_body {
        font-size: 16px;
        margin-top: 30px;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    #banner {
        height: 200px;
    }
    .banner_headline h1 {
        font-size: 40px;
        margin: 10px;
        margin-top: 20px;
    }
    .banner_headline h2 {
        font-size: 16px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner_options {
        margin-top: 10px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .banner1, .banner2, .banner3 {
        flex: 1;
        margin-bottom: 10px;
        background-size: 500px;

    }
    .banner_options a {
        margin-top: 130px;
        margin-left: 100px;
    }
    .widget_title {
        margin-top: 170px;
    }
    .widget_title_text {
        font-size: 30px;
        margin-top: 810px;
    }
    .widget_title_bar {
        margin-top: 5px;
    }
    .widget_body {
        font-size: 16px;
        margin-top: 30px;
    }
}
@media (min-width: 426px) and (max-width: 767px) {
    #banner {
        height: 200px;
    }
    .banner_headline h1 {
        font-size: 40px;
        margin: 10px;
        margin-top: 20px;
    }
    .banner_headline h2 {
        font-size: 16px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner_options {
        margin-top: 10px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .banner1, .banner2, .banner3 {
        flex: 1;
        margin-bottom: 10px;
        background-size: 500px;

    }
    .banner_options a {
        margin-top: 130px;
        margin-left: 100px;
    }
    .widget_title {
        margin-top: 170px;
    }
    .widget_title_text {
        font-size: 30px;
        margin-top: 810px;
    }
    .widget_title_bar {
        margin-top: 5px;
    }
    .widget_body {
        font-size: 16px;
        margin-top: 30px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    #banner {
        height: 200px;
    }
    .banner_headline h1 {
        font-size: 40px;
        margin: 10px;
        margin-top: 20px;
    }
    .banner_headline h2 {
        font-size: 16px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner_options {
        margin-top: 10px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .banner1, .banner2, .banner3 {
        flex: 1;
        margin-bottom: 10px;
        background-size: 500px;

    }
    .banner_options a {
        margin-top: 130px;
        margin-left: 100px;
    }
    .widget_title {
        margin-top: 170px;
    }
    .widget_title_text {
        font-size: 30px;
        margin-top: 810px;
    }
    .widget_title_bar {
        margin-top: 5px;
    }
    .widget_body {
        font-size: 16px;
        margin-top: 30px;
    }
}
@media (min-width: 1024px) and (max-width: 1390) {
    #banner {
        height: 200px;
    }
    .banner_headline h1 {
        font-size: 40px;
        margin: 10px;
        margin-top: 20px;
    }
    .banner_headline h2 {
        font-size: 16px;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .banner_options {
        margin-top: 10px;
        width: 500px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .banner1, .banner2, .banner3 {
        flex: 1;
        margin-bottom: 10px;
        background-size: 500px;

    }
    .banner_options a {
        margin-top: 130px;
        margin-left: 200px;
    }
    .widget_title {
        margin-top: 170px;
    }
    .widget_title_text {
        font-size: 30px;
        margin-top: 250px;
    }
    .widget_title_bar {
        margin-top: 5px;
    }
    .widget_body {
        font-size: 16px;
        margin-top: 30px;
    }
}

/* #########################################  CONTEUDOS PAGINA MERCADOR  ######################################### */

.flex {
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    width: 200px;
    margin: 20px;
}
article a{
    text-decoration: none;

}
article .news_data{
    display: flex;
}
article .news_thumbnail {
    margin-top: 0px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;
    border: 1px solid black;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 22px;
    font-family: 'Sedan SC';
}
article .news_resume {
    font-size: 16px;
    font-family: 'Sedan SC';
    color: rgb(0, 0, 0);
    line-height: 20px;
    margin-bottom: 1px;
}

/* #########################################  NOTICIA PAGINA PRINCIPAL  ######################################### */
.default {
    padding-top:50px;
    padding-bottom:50px;
}
.default .section-title {
    text-align:center;
    font-family: 'Sedan SC';
    font-size:26px;
}
.default .section-body {
    max-width:1140px;
    margin:auto;
}
.section-aboutus {
    display:flex;
}
.section-aboutus--left {
    flex:1;
}
.section-aboutus--left h1 {
    font-size:26px;
    font-family: 'Sedan SC';
}
.section-aboutus--left p {
    font-size:16px;
    line-height:25px;
    font-family: 'Sedan SC';
    text-align: justify;
    margin-right: 15px;
}
.section-aboutus--right {
    width:520px;
    text-align:center;
}
.section-aboutus--right img {
    width:550px;
    box-shadow:0px 5px 10px #333;
    margin-left: 30px;
}
@media (min-width: 320px) and (max-width: 374px) {
    .default .section-title {
        font-size: 25px;
        margin-top: 650px; /* Ajustei o valor do margin-top para evitar que o título fique muito abaixo */
    }
    .section-aboutus {
        flex-direction: column; /* Alterei para column para garantir que os elementos fiquem um abaixo do outro */
        align-items: center; /* Centralizei os elementos no centro */
        text-align: center; /* Centralizei o texto */
        margin-top: -40px;
    }
    .section-aboutus--left h1 {
        font-size: 18px;
        margin-bottom: 10px; /* Adicionei margem inferior para separar o título do parágrafo */
        
    }
    .section-aboutus--left p {
        font-size: 14px;
        line-height: 20px;
        margin: 30px;
        text-align: justify; /* Adicionei para justificar o texto */
    }
    .section-aboutus--right {
        width: 100%;
        margin-top: 40px; /* Adicionei margem superior para separar do texto */
    }
    .section-aboutus--right img {
        width: 100%;
        max-width: 250px;
        box-shadow: 0px 5px 10px #333;
        margin: 0 auto; /* Centralizei a imagem */
    }
}
@media (min-width: 375px) and (max-width: 424px){
    .default .section-title {
        font-size: 18px;
        margin-top: 650px; /* Ajustei o valor do margin-top para evitar que o título fique muito abaixo */
    }
    .default .section-title {
        font-size: 25px;
        margin-top: 650px; /* Ajustei o valor do margin-top para evitar que o título fique muito abaixo */
    }
    .section-aboutus {
        flex-direction: column; /* Alterei para column para garantir que os elementos fiquem um abaixo do outro */
        align-items: center; /* Centralizei os elementos no centro */
        text-align: center; /* Centralizei o texto */
        margin-top: -40px;
    }
    .section-aboutus--left h1 {
        font-size: 18px;
        margin-bottom: 10px; /* Adicionei margem inferior para separar o título do parágrafo */
        
    }
    .section-aboutus--left p {
        font-size: 14px;
        line-height: 20px;
        margin: 30px;
        text-align: justify; /* Adicionei para justificar o texto */
    }
    .section-aboutus--right {
        width: 100%;
        margin-top: 40px; /* Adicionei margem superior para separar do texto */
    }
    .section-aboutus--right img {
        width: 100%;
        max-width: 320px;
        box-shadow: 0px 5px 10px #333;
        margin: 0 auto; /* Centralizei a imagem */
    }
}
@media (min-width: 425px) and (max-width: 767px) {
    .default .section-title {
        font-size: 25px;
        margin-top: 650px; /* Ajustei o valor do margin-top para evitar que o título fique muito abaixo */
    }
    .section-aboutus {
        flex-direction: column; /* Alterei para column para garantir que os elementos fiquem um abaixo do outro */
        align-items: center; /* Centralizei os elementos no centro */
        text-align: center; /* Centralizei o texto */
        margin-top: -40px;
    }
    .section-aboutus--left h1 {
        font-size: 18px;
        margin-bottom: 10px; /* Adicionei margem inferior para separar o título do parágrafo */
        
    }
    .section-aboutus--left p {
        font-size: 14px;
        line-height: 20px;
        margin: 30px;
        text-align: justify; /* Adicionei para justificar o texto */
    }
    .section-aboutus--right {
        width: 100%;
        margin-top: 40px; /* Adicionei margem superior para separar do texto */
    }
    .section-aboutus--right img {
        width: 100%;
        max-width: 400px;
        box-shadow: 0px 5px 10px #333;
        margin: 0 auto; /* Centralizei a imagem */
    }
}
@media (min-width: 768px) {
    .default .section-title {
        font-size: 25px;
        margin-top: 650px; /* Ajustei o valor do margin-top para evitar que o título fique muito abaixo */
    }
    .section-aboutus {
        flex-direction: column; /* Alterei para column para garantir que os elementos fiquem um abaixo do outro */
        align-items: center; /* Centralizei os elementos no centro */
        text-align: center; /* Centralizei o texto */
        margin-top: -40px;
    }
    .section-aboutus--left h1 {
        font-size: 18px;
        margin-bottom: 10px; /* Adicionei margem inferior para separar o título do parágrafo */
        
    }
    .section-aboutus--left p {
        font-size: 14px;
        line-height: 20px;
        margin: 30px;
        text-align: justify; /* Adicionei para justificar o texto */
    }
    .section-aboutus--right {
        width: 100%;
        margin-top: 40px; /* Adicionei margem superior para separar do texto */
    }
    .section-aboutus--right img {
        width: 100%;
        max-width: 450px;
        box-shadow: 0px 5px 10px #333;
        margin: 0 auto; /* Centralizei a imagem */
    }
}



